{% extends "base.html" %}


{% block content %}
    <div class="text-center">
        <h1>רשימת לקוחות</h1>
    </div>

    <table id="data" class="table table-striped cell-border" style="width:100%">
    <thead>
      <tr>
        <th>שם משפחה</th>
        <th>שם פרטי</th>
        <th>תעודת זהות</th>
        <th>שנת לידה</th>
        <th>טלפון</th>
        <th>מטפל</th>
        <th>תאריך פתיחה</th>

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>



{% endblock %}

{% block scripts %}
{#    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>#}
{#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>#}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'major_last_name',orderData: [ 0, 1,5 ]},
          {data: 'major_first_name'},
          {data: 'major_id', orderable: false},
          {data: 'major_birth_year', orderable: false},
          {data: 'major_phone',orderable: false},
          {data: 'therapist'},
          {data: 'create_date'}

        ],
      });
    });
  </script>
{% endblock %}
