{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

    <div class="container">
        <div class="text-center">
            <h1>לקוח חדש</h1>
        </div>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row-fluid">

                <div class="form-group">

                    {% include "new_house/major.html" %}

                </div>

                <div class="form-group">

                    {% include "new_house/minor.html" %}

                </div>

                <div class="form-group">

                    {% include "new_house/address.html" %}

                </div>
            </div>

            {% include "new_house/short_txt.html" %}

            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}